header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#modalImage {
    max-height: 400px;
    object-fit: cover;
    border-radius: 0.375rem; 
}
#modalLinks .btn {
    text-decoration: none;
}